.menu {
  .container {
    height: 100vh;
    position: relative;
  }
  box-sizing: border-box;
  background-color: $c-background;

  &__wrapper {
    @include pageGrid;
  }

  &__schedule {
    display: inline-block;

    &--additional {
      color: $c-white;
    }

    margin-bottom: 20px;

    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 3;
    }
  }

  &__address {
    display: inline-block;

    &--additional {
      color: $c-white;
    }

    margin-bottom: 40px;

    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 3 / 5;
      margin-bottom: 50px;
    }

    @include onDesktop {
      grid-column: 3 / 6;
    }

    &--link {
      @include hover(color, $c-hover-text);
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 20px;

    grid-column: 1 / -1;

    margin-bottom: 40px;

    &--link {
      position: relative;
      color: $c-white;
      @extend %h3;
      width: max-content;

      @include hover(color, $c-hover-text);

      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -8px;

        height: 2px;
        width: 100%;

        background-color: $c-white;
        transition: transform 0.3s;
        transform: scale(0);
        transform-origin: left;
      }

      &:hover::after {
        transform: scale(1);
      }
    }

    @include onTablet {
      grid-column: 1 / 5;
      margin-bottom: 50px;
    }

    @include onDesktop {
      grid-column: 1 / 7;
    }
  }

  &__line {
    background-color: $c-white;
    height: 1px;
    width: 100%;

    margin-bottom: 40px;

    grid-column: 1 / -1;

    @include onTablet {
      margin-bottom: 50px;
    }

    @include onDesktop {
      grid-column: 1 / 7;
    }
  }

  &__button {
    grid-column: 1 / -1;
    margin-bottom: 30px;

    @include onTablet {
      grid-column: 1 / 4;
    }
  }

  &__background {
    padding-top: 6px;
    display: none;

    @include onTablet {
      display: flex;
    }

    &--img {
      height: 466px;
      object-fit: contain;
      position: absolute;
      bottom: 0;
      right: 0;

      @include onDesktop {
        height: 697px;
      }
    }
  }

  &__text--bold {
    color: $c-white;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }
}
